@model StaffApplication.Services.Accounts.AccountDto
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<form method="post">
<div>
    <h4>Are you sure you wish to delete this user?</h4>
        <p><button type="submit">Confim Deletion</button></p>
    
</div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>